body {
    background-color: DarkCyan;
}

/* Flex box for the entire board */
.board {
    display: flex;
    justify-content: flex-start;
    width: 65%;
    margin-left: 10%;
    flex-wrap: wrap;
    /* can mess with this once actual game made */
    transform: skewX(-3deg);
    /*transform: rotateX(70deg); */

}

img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* specification for squares on board */
.square {
    width: 12.0%;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
}

/* color for even squares */
.even {
  background-color: DimGrey;
  }

/* color for odd squares */
.odd {
    background-color: GainsBoro;
}

/* sizing for block on far right side of board */
.squareEnd {
    width: 1.4%;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
}

/* sizing for block on bottom of board */
.bottomBox {
    width: 12.0%;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}

/* small triangle at bottom right of board */
.triangle-topleft {
    display: inline-block;
    border-top: 12px solid DimGrey;
    border-right: 14px solid transparent;
}
